:root {
    --white: #ffffff;
    --green: #2ea44f;
    --salmon: #f9826c;
    --dark-grey: #24292e;
    --cyan-blue: #0366d6;
    --celtic-blue: #0067d7;
    --bright-grey: #d1d5d9;
    --black-coral: #586069;
    --madison-grey: #959da5;
    --charcoal-grey: #444d56;
    --very-light-grey: #d1d5da;
}
